* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f4f4f8;
	font-family: sans-serif;
	min-height: 100vh;
}

main {
	display: flex;
	justify-content: space-between;
}

.hidden {
	display: none;
}

.menu,
.highscore {
	min-width: 400px;
}

.menu,
.field,
.highscore {
	margin: 20px 20px 0;
	background-color: #e6e6ea;
	padding: 10px;
	height: max-content;
	border: 2px solid darkgrey;
}

.menu h1 {
	background-color: #f4f4f8;
	border: 2px solid darkgrey;
	text-align: center;
	margin-bottom: 20px;
}

.menu fieldset {
	border: 2px solid darkgrey;
	background-color: #f4f4f8;
	padding: 20px;
	margin-bottom: 10px;
}

.menu fieldset[disabled] {
	display: none;
}

.menu datalist {
	display: flex;
	justify-content: space-between;
}

.menu input[type='range'] {
	width: 100%;
}

.menu button {
	padding: 5px 15px;
	display: block;
	margin: 0 auto;
}

.field {
	font-size: 1.5em;
}

.field__body {
	background-color: #f4f4f8;
}

.field__cell {
	background-color: #fed766;
	width: 9vh;
	height: 9vh;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.1s;
}

.field__cell:hover {
	background-color: #fed766bb;
}

.field__timer,
.field__lives {
	padding: 10px 0;
}

.mole {
	background-color: #2ab7ca;
}

.mole:hover {
	background-color: #2ab7cabb;
}

.highlight {
	background-color: #f4f4f8 !important;
}

.closed {
	background-color: #fe4a49;
	cursor: not-allowed;
}

.closed:hover {
	background-color: #fe4949bb;
}

.disable-timer {
	color: grey;
}

.highscore__table {
	width: 100%;
	text-align: center;
	background-color: #f4f4f8;
	border: 2px solid darkgrey;
}
.highscore__current {
	margin-top: 10px;
	text-align: center;
}
